/* Root variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6; 
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 1rem 1rem var(--color-light)

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html {
    font-size: 18px;
    
    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    
}

.container {
    display: grid;
    margin: 0 auto;
    width: 96%;
    gap: 1.8 rem;
    grid-template-columns: 16rem auto;

}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8 rem;

}

.title h1{
    margin-left: 2rem;

}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8 rem;
    height: 2.8 rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark)
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.warning {
    color: var(--color-warning);
}

.success {
    color: var(--color-success);
}

aside {
    height: 100vh;
    
  
}

aside .top {
    background: white;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.top a {
    position: relative;

}

aside .logo {
    display:flex;
    gap: 0.8rem;

}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .menu {
    display: none;
}

/*=========================== sidebar =============================*/
aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 95vh;
    position: relative;
    top: 2rem;
}


aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;


    
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
    
}

aside .sidebar a.active::before {
    content: '';
    width: 0.33rem;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);

}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .add{
    margin-top: 2rem;
}


/* ============MAIN================== */

main {
    margin: 1rem;
 
}


main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark)
}

main .insights {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    margin: 2rem;    

}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);

}

/* ============main networth dashboard================== */

main .dashboard-total {
    display: flex;
    flex-direction: column;

}

main .dashboard-total > div {
    margin-bottom: 1rem;

}

.dashboard-total .dashboard-total-last {
    margin-top: 8rem;
}

/* ============main infographic dashboard================== */

main .dashboard-info {
    display: flex;
    flex-direction: column;

}

main .dashboard-total > div {
    margin-bottom: 1rem;
    


}

.dashboard-total .dashboard-total-last {
    margin-top: 2rem;
    
}

.dashboard-title {
    margin-bottom: 1rem;

}



/* ============Chart================== */

main .myChart {

    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    margin: 2rem;

}

.myChart h2 { 

    margin-bottom: 0.8rem;
}

/* ============Chart================== */




/*============= ENTRIES TAble ==========*/


.entries h2 { 

    margin-bottom: 0.8rem;
}

main .entries {
    margin-top: 1rem;
}

main .entries {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-collapse: collapse;
    margin: 2rem;
}

table {
    width: 100%;
}

main .entries table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0.15rem;
    border-collapse: collapse;
   
}

/* ================Add Entries ================*/

.form-container {

    background: var(--color-white);
    padding: var(--card-padding);
    margin: 2rem;
    border-radius: var(--card-border-radius); 

}

.entry-view .form-container > div {
    padding: 0.6rem;
    background: var(--color-background);
    margin: 0.2rem;
    position: relative;
    
}



.entry-view .dollar-symbol {
    position: absolute; 
    margin-left: 1px;
    margin-top: 1px;

}

input[type=number] {
    padding-left: 15px;

}

.bitcoin-CAD {

    position: absolute;
    left: 30%;
    padding-left: 0;
    
}

.ethereum-CAD {

    position: absolute;
    left: 30%;
    padding-left: 0;
    
}


.entry-view .number-input {
  
    position: absolute;

    right: 5%;
    margin-left: 10px;

}

.form-range {
   
    position: absolute;
    background: var(--color-white);
    border-radius: 1rem;
    cursor: pointer;
    border: 1.5px solid var(--color-info-light);
}


button {
    display: none;

}

.material-icons-sharp{
    margin-top: 0.25rem;
}

/*============= MEDIA QUERIES ==========*/

@media screen and (max-width: 1200px) {

    body {

    }
    .container {
        width: 100%;
        grid-template-columns: 8rem auto;
        
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none; 
    }

    aside .sidebar a {
        width: 100%;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
        width: 100%;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 1;
    }

    main .entries {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
        overflow-x: auto;
       
    }

    button {
        display: none;

    }


    

}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo {
      margin-left: 4rem;
    }

    .material-icons-sharp {
        margin-top: 0.4rem;
    }

    aside .sidebar h3 {
        display: inline; 
    }

    aside .sidebar a {
        width: 100%;
        height: 3rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 4rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 1rem;

    }

    main .entries {
        width: 100%;
        position: absolute;

        margin: 1rem;
        overflow-x: auto;
       
    }

    main .entries table {
        width: 100%;
        margin: 0;
       
    }

    main .insights {
        grid-template-columns: 1fr;
        margin: 0;
        gap: 1;
        margin-top: 1rem;
    }

    main .insights div:last-child{
        margin-bottom: 2rem;
    }

    main .myChart {
        grid-template-columns: 1fr;
        margin: 0;
        margin-bottom: 1rem;
        gap: 1;
    }

    button {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--color-dark);
        position: absolute;
        margin: 1rem;
    }

    
.top a {
    right: 20%;

}
}


