{% extends "finance_portal/layout.html" %}
{% load static %}


{% block body %}

        <main>

            <div class="dashboard-view">

                <div class="title">
                    <h1>Dashboard</h1>
                </div>
     

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Investable Assets</h3>
                                <h1 id="investable_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Crypto</h3>
                                <h1 id="crypto_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Cash</h3>
                                <h1 id="cash_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Personal Assets</h3>
                                <h1 id="personal_dashboard"></h1>
                            </div>
                            
                            <div>
                                <h3>Liabilities</h3>
                                <h1 id="liabilities_dashboard"></h1>
                            </div>

                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Net Worth</h2>
                                <h1 id="networth_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Total Asset Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="myChart_2" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_dashboard"></h1>
                            </div>



                    </div>
                    
                    
                </div>

                <div class="myChart">
                    <h2>Networth</h2>
                    <canvas id="myChart" height="100" width="300"></canvas>
                </div>       

                <div class="entries dashboard-data-button">
                    <h2>Entries</h2>

                    <table class="dashboard-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="4">Investable Assets</th>
                                <th colspan="3">Crypto</th>
                                <th colspan="4">Cash</th>
                                <th colspan="4">Personal Assets</th>
                                <th colspan="4">Liabilities</th>
                                <th colspan="3">Networth</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>Taxable ($)</th>
                                <th>TFSA ($)</th>
                                <th>RRSP ($)</th>
                                <th>Other ($)</th>

                                <th>Bitcoin ($)</th>
                                <th>Ethereum ($)</th>
                                <th>Other ($)</th>
                          


                                <th>Cash ($)</th>
                                <th>Checking ($)</th>
                                <th>Savings ($)</th>
                                <th>Other Accounts ($)</th>

                                <th>Principal Residence ($)</th>
                                <th>Auto ($)</th>
                                <th>Other Properties ($)</th>
                                <th>Physical Goods ($)</th>

                                <th>Mortgages ($)</th>
                                <th>Credit Card Debt ($)</th>
                                <th>Loans ($)</th>
                                <th>Other ($)</th>

                                <th>Total (Assets-Liabilities) ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="investable-view">

                <div class="title">
                    <h1>Investable Assets</h1>
                </div>
                

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Taxable</h3>
                                <h1 id="taxable_dashboard"></h1>
                            </div>

                            <div>
                                <h3>TFSA</h3>
                                <h1 id="tfsa_dashboard"></h1>
                            </div>

                            <div>
                                <h3>RRSP</h3>
                                <h1 id="rrsp_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Other Investable Assets</h3>
                                <h1 id="other_investable_dashboard"></h1>
                            </div>
                            
                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Investable Assets</h2>
                                <h1 id="total_investable_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Investable Assets Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="pie_investable" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_investable"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_investable"></h1>
                            </div>



                    </div>
                    
                    
                </div>

                <div class="myChart">
                    <h2>Investable Assets</h2>
                    <canvas id="myChart_investable" height="100" width="300"></canvas>

                </div>
                

                <div class="entries investable-data-button">
                    <h2>Entries</h2>

                    <table class="investable-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="4">Investable Assets</th>
    
                                <th colspan="3">Total</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>Taxable ($)</th>
                                <th>TFSA ($)</th>
                                <th>RRSP ($)</th>
                                <th>Other ($)</th>

                                <th>Total Investable Assets ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>

                </div>

            </div>


            <div class="crypto-view">

                <div class="title">
                    <h1>Cryptocurrency</h1>
                </div>

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Bitcoin</h3>
                                <h1 id="bitcoin_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Ethereum</h3>
                                <h1 id="ethereum_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Other Cryptocurrencies</h3>
                                <h1 id="other_crypto_dashboard"></h1>
                            </div>

                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Cryptocurrency</h2>
                                <h1 id="total_crypto_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Crypto Assets Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="pie_crypto" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_crypto"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_crypto"></h1>
                            </div>



                    </div>
                    
                    
                </div>



                <div class="myChart">
                    <h2>Cryptocurrency</h2>
                    <canvas id="myChart_crypto" height="100" width="300"></canvas>

                </div>
                



                <div class="entries crypto-data-button">
                    <h2>Entries</h2>

                    <table class="crypto-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3">Crypto</th>

                                <th colspan="3">Total</th>
                            </tr>
                            <tr>
                                <th>Date</th>

                                <th>Bitcoin ($)</th>
                                <th>Ethereum ($)</th>
                                <th>Other ($)</th>
                          

                                <th>Total Cryptocurrency ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="cash-view">

                <div class="title">
                    <h1>Cash</h1>
                </div>
                

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Hard Cash</h3>
                                <h1 id="hard_cash_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Checkings</h3>
                                <h1 id="checkings_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Savings</h3>
                                <h1 id="savings_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Other Cash</h3>
                                <h1 id="other_cash_dashboard"></h1>
                            </div>
                  

                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Cash</h2>
                                <h1 id="total_cash_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Cash Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="pie_cash" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_cash"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_cash"></h1>
                            </div>



                    </div>
                    
                    
                </div>



                <div class="myChart">
                    <h2>Cash</h2>
                    <canvas id="myChart_cash" height="100" width="300"></canvas>

                </div>
                



                <div class="entries cash-data-button">
                    <h2>Entries</h2>

                    <table class="cash-table">
                        <thead>
                            <tr>
                                <th></th>

                                <th colspan="4">Cash</th>

                                <th colspan="3">Total</th>
                            </tr>
                            <tr>
                                <th>Date</th>

                                <th>Cash ($)</th>
                                <th>Checking ($)</th>
                                <th>Savings ($)</th>
                                <th>Other Accounts ($)</th>

                                <th>Total Cash ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="personal-assets-view">

                <div class="title">
                    <h1>Personal Assets</h1>
                </div>

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Principal Residence</h3>
                                <h1 id="principal_residence_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Auto</h3>
                                <h1 id="auto_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Other Properties</h3>
                                <h1 id="other_properties_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Physical Goods</h3>
                                <h1 id="goods_dashboard"></h1>
                            </div>
                            
                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Personal Assets</h2>
                                <h1 id="total_personal_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Personal Assets Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="pie_personal" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_personal"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_personal"></h1>
                            </div>

                    </div>
                    
                    
                </div>


                <div class="myChart">
                    <h2>Personal Assets</h2>
                    <canvas id="myChart_personal" height="100" width="300"></canvas>

                </div>
                



                <div class="entries personal-data-button">
                    <h2>Entries</h2>

                    <table class="personal-table">
                        <thead>
                            <tr>
                                <th></th>

                                <th colspan="4">Personal Assets</th>

                                <th colspan="3">Total</th>
                            </tr>
                            <tr>
                                <th>Date</th>

                                <th>Principal Residence ($)</th>
                                <th>Auto ($)</th>
                                <th>Other Properties ($)</th>
                                <th>Physical Goods ($)</th>


                                <th>Total Personal Assets ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="liability-view">

                <div class="title">
                    <h1>Liabilities</h1>
                </div>

                <div class="insights">

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Total</h2>
                            </div>
                            
                            <hr>
                            <div >
                                <h3>Mortgages</h3>
                                <h1 id="mortgage_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Consumer Debt</h3>
                                <h1 id="consumer_debt_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Loans</h3>
                                <h1 id="loan_dashboard"></h1>
                            </div>

                            <div>
                                <h3>Other Debt</h3>
                                <h1 id="other_debt_dashboard"></h1>
                            </div>

                            <hr>
                                                    
                            <div class="dashboard-total-last">
                                <h2>Total Liabilities</h2>
                                <h1 id="total_liability_dashboard"></h1>
                            </div>



                            <small> </small>
                            <small class="text-muted"></small>
                    </div>


                    <div class="dashboard-pie">
       
                            <div class="dashboard-title">
                                <h2>Liabilities Breakdown</h2>
                            </div>

                            <div>
                                <canvas id="pie_liability" height="600" ></canvas>
                            </div>
                            
                        <small class="text-muted"></small>
                    </div>

                    <div class="dashboard-total">

                            <div class="dashboard-title">
                                <h2>Infographic</h2>
                            </div>

                            <div>
                                <h3>Average Period Growth</h3>
                                <h1 id="average_period_liability"></h1>
                            </div>

                            <div>
                                <h3>Amount Change Since Beginning</h3>
                                <h1 id="amount_change_liability"></h1>
                            </div>

                    </div>
                    
                </div>


                <div class="myChart">
                    <h2>Liabilities</h2>
                    <canvas id="myChart_liability" height="100" width="300"></canvas>

                </div>
                


                <div class="entries liability-data-button">
                    <h2>Entries</h2>

                    <table class="liability-table">
                        <thead>
                            <tr>
                                <th></th>

                                <th colspan="4">Liabilities</th>
                                <th colspan="3">Total</th>
                            </tr>
                            <tr>
                                <th>Date</th>

                                <th>Mortgages ($)</th>
                                <th>Credit Card Debt ($)</th>
                                <th>Loans ($)</th>
                                <th>Other ($)</th>

                                <th>Total Liabilities ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="entry-view">

                <div class="title"> 
                    <h1>Net Worth Entry</h1>
                </div>

                <form id="compose-form" class="form">

                    <div class="form-container">

                        <h2>Savings and Investments:</h2>

                        <div class="form-group">
                            Non-Registered investments (Taxable):

                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-taxable" value=0>
                                </span>
                            </span>                                
                        </div>

                        <div class="form-group">
                            Tax-free savings account (TFSA):
                        
                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-tfsa" value=0 >
                                </span>
                            </span>

                        </div>


                        <div class="form-group">
                            Registered Retirement Savings (ex: RRSP): 

                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-rrsp" value=0>
                                </span>
                            </span>
                        
                        </div>


                        <div class="form-group">
                            Other: 
                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-investment-other" value=0>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-container">
                        <h2>Crypto:</h2>

                        <div class="form-group">
                            Bitcoin:
                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">
                            </span>
                            <span class="bitcoin-CAD">
                                BTC in CAD:
                                <input type="number" disabled>
                            </span>
                            <span class="number-input">
                                <span class="dollar-symbol">$</span>
                                <input type="number"  id="demo" class="submit-bitcoin"  value=0>
                            </span>
                        </div>

                        <div class="form-group">
                            Ethereum:
                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">
                                <span class="ethereum-CAD">
                                    ETH in CAD:
                                    <input type="number" disabled>
                                </span>
                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-ethereum" value=0>
                                </span>
                            </span>
                        </div>

                        <div class="form-group">
                            Other Crypto: 

                            <span class="range-wrap">
                                <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                <span class="number-input">
                                    <span class="dollar-symbol">$</span>
                                    <input type="number" id="demo" class="submit-crypto-other" value=0>
                                </span>
                            </span>

                        </div>

                    </div>
                        
                    
                    <div class="form-container">
                            <h2>Cash:</h2>

                            <div class="form-group">
                                Hard Cash:
                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-hard-cash" value=0>
                                    </span>
                                </span>
                            </div>

                            <div class="form-group">
                                Checkings Account:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-checking" value=0>
                                    </span>
                                </span>
                            </div>

                            <div class="form-group">
                                Savings Account: 

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-savings" value=0>
                                    </span>
                                </span>

                            </div>
                            <div class="form-group">
                                Other Accounts: 

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-cash-other" value=0>
                                    </span>
                                </span>
                            </div>
                    </div>




                    <div class="form-container">
                            <h2>Property and other assets:</h2>

                            <div class="form-group">
                                Principal Residence:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-principal-residence" value=0>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                Vehicle(s):

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-auto" value=0>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                Other Properties:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-properties-other" value=0>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                Other Valuables:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-valuables" value=0>
                                    </span>
                                </span>
                                
                            </div>
                    </div>
                        
                    
                    <div class="form-container">
                            <h2>Liabilities:</h2>

                            <div class="form-group">
                                Mortgages:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-mortgages" value=0>
                                    </span>
                                </span>

                            </div>
                            <div class="form-group">
                                Consumer Debt:

                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-consumer-debt" value=0>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                Loans: 
                                
                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-loans" value=0>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                Other debt:
                                
                                <span class="range-wrap">
                                    <input type="range" class="form-range" min="0" max="5000000" step="5000" value="0" id="customRange">

                                    <span class="number-input">
                                        <span class="dollar-symbol">$</span>
                                        <input type="number" id="demo" class="submit-debt-other" value=0>
                                    </span>
                                </span>
                            </div>
                    </div>

                            <input type="submit" class="btn btn-primary"/> 
                                    
                </form>

            </div>

            <div class="entries-view">

                                    
                <div class="title">
                    <h1>All Entries</h1>
                </div>

                <div class="entries">



                    <table class="all-entries-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="4">Investable Assets</th>
                                <th colspan="3">Crypto</th>
                                <th colspan="4">Cash</th>
                                <th colspan="4">Personal Assets</th>
                                <th colspan="4">Liabilities</th>
                                <th colspan="3">Networth</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>Taxable ($)</th>
                                <th>TFSA ($)</th>
                                <th>RRSP ($)</th>
                                <th>Other ($)</th>

                                <th>Bitcoin ($)</th>
                                <th>Ethereum ($)</th>
                                <th>Other ($)</th>
                          


                                <th>Cash ($)</th>
                                <th>Checking ($)</th>
                                <th>Savings ($)</th>
                                <th>Other Accounts ($)</th>

                                <th>Principal Residence ($)</th>
                                <th>Auto ($)</th>
                                <th>Other Properties ($)</th>
                                <th>Physical Goods ($)</th>

                                <th>Mortgages ($)</th>
                                <th>Credit Card Debt ($)</th>
                                <th>Loans ($)</th>
                                <th>Other ($)</th>

                                <th>Total (Assets-Liabilities) ($)</th>
                                <th>Change Since Last ($)</th>
                                <th>% Change Since Last </th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>
            
        </main>

{% endblock %}

