{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Finance Portal</title>
      
      <!-- ICONS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">

      <!-- Stylesheet -->
      <link rel="stylesheet" href="{% static 'finance_portal/style.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>

            
    <button class="menu" id="menu-btn">
        <span class="material-icons-sharp">menu</span>
    </button> 
      
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <a href="{% url 'index' %}" class="material-icons-sharp">account_balance_wallet</a>
                    <a href="{% url 'index' %}">
                        <h1>Finance Portal</h1>
                    </a>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            

            <div class="sidebar">
                <a class="dashboard">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a class="investable-assets">
                    <span class="material-icons-sharp">request_quote</span>
                    <h3>Investable Assets</h3>
                </a>
                <a class="crypto">
                    <span class="material-icons-sharp">currency_bitcoin</span>
                    <h3>Cryptocurrency</h3>
                </a>
                <a class="cash">
                    <span class="material-icons-sharp">attach_money</span>
                    <h3>Cash</h3>
                </a>
                <a class="personal-assets">
                    <span class="material-icons-sharp">account_balance</span>
                    <h3>Personal Assets</h3>
                </a>

                <a class="liabilities">
                    <span class="material-icons-sharp">handshake</span>
                    <h3>Liabilities</h3>
                </a>
                <a class="add">
                    <span class="material-icons-sharp">add</span>
                    <h3>Add Entry</h3>
                </a>
                <a class="all-entries">
                    <span class="material-icons-sharp">history</span>
                    <h3>All Entries</h3>
                </a>
                <a href="{% url 'logout' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>


        {% block body %}
        {% endblock %}


    </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{% static 'finance_portal/mychart.js' %}"></script>
      <script src="{% static 'finance_portal/mobile.js' %}"></script>
     
     
      <script src="{% static 'finance_portal/js.js' %}"></script>



      

  </body>

</html>

